/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}
/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */
/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */


@media only screen and (max-width:320px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices? (font-size: 112.5%;) */
html {
}
/* Main navigation */
#menu-bar {
  height: 40px;
  /* background-color: blue; */
}
#block-system-main-menu a {
  text-decoration: none;
  line-height: 40px;
  padding: 0 10px;
  font-weight: bold;
  font-size: 15px;
}

#block-system-main-menu li {
  list-style: none;
  margin:0;
  padding: 0;
  float: left;
}

/* small logo instead of the large one. */
#header .logo-mobile {
  display: block;
  float: left;
}
#header .site_logo .site_title {
  display: block;
  font-size: 15px;
  float: left;
  line-height: 31px;
  padding-left: 3px;
}
#header .logo {
  display: none;
}
#header .site_logo {
  margin-left: 5px;
  margin-top: 15px;
  width: 60px;
}

/* search form */
#header .header-right {
  margin-right: 5px;
}
#header #block-search-form .form-text {
  width: 100px;
}

/* Player object */
.page-asset .view .asset-video-player,
.page-collection .view .collection-videos {
  margin-right: 0px;
  margin-left: 0px;
}
/* footer */
#footer .menu li {
padding: 0 3px 0 3px;
}

/* Adjust homepage */
.view .asset-information {
  float: none;
  margin-left: 0;
  overflow: visible;
}
.view .asset-information .views-field-title {
  overflow: visible;
}

#page_content .view .asset-information .views-field-owner-id {
  position: relative;
  bottom: 0;
}

.view .views-field-owner-id {
  background: url(/sites/all/themes/sitebuilder-uva/images/sprite.png) no-repeat -464px -597px;
  width: 10px;
}

.view .asset-information .views-field-played {
  position: relative;
  bottom: 0;
}

#spotlight .view .asset-information .views-field-played {
  position: absolute;
}


#content #page_content #block-views-mediamosa-asset-popular-block,
#content #page_content #block-views-mediamosa-asset-new-block {
  width: 242px;
}

#block-views-mediamosa-asset-new-block .view .asset-information,
#block-views-mediamosa-asset-popular-block .view .asset-information {
  max-width: 210px;
  clear: both;
  min-height: 60px;
}

#block-views-mediamosa-asset-new-block .view .asset-information .views-field-description,
#block-views-mediamosa-asset-popular-block .view .asset-information .views-field-description {
  padding-bottom: 35px;
}

#block-views-mediamosa-asset-new-block .view .asset-information .views-field-owner-id,
#block-views-mediamosa-asset-popular-block .view .asset-information .views-field-owner-id {
  position: absolute;
  bottom: 28px;
}

.page-asset .asset-detail-information,
.page-collection .collection-detail-information {
  width: 91%;
  float: left;
  max-width: 640px;
  margin: auto;
  margin: 0px 15px 15px 15px;
  clear: left;
}

.page-collection-detail .view .collection-videos {
  width: auto;
}

}
@media only screen and (min-width:321px) and (max-width:480px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* perhaps increase the body font size on small devices (font-size: 112.5%;)*/
html {
}

/* Main navigation */
#menu-bar {
  height: 40px;
  /* background-color: yellow; */
}
#block-system-main-menu a {
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#block-system-main-menu li {
  list-style: none;
  margin:0;
  padding: 0;
  float: left;
}

/* small logo instead of the large one. */
#header .logo-mobile {
  display: block;
  float: left;
}
#header .site_logo .site_title {
  display: block;
  font-size: 15px;
  float: left;
  line-height: 31px;
  padding-left: 3px;
}
#header .logo {
  display: none;
}
#header .site_logo {
  margin-left: 5px;
  margin-top: 15px;
  width: 60px;
}

/* search form */
#header .header-right {
  margin-right: 5px;
}
#header #block-search-form .form-text {
  width: 135px;
}

/* Player object */
.page-asset .view .asset-video-player,
.page-collection .view .collection-videos {
  margin-right: 0px;
  margin-left: 0px;
}

/* Adjust homepage */
.view .asset-information {
  float: none;
  margin-left: 0;
  overflow: visible;
}
.view .asset-information .views-field-title {
  overflow: visible;
}

#page_content .view .asset-information .views-field-owner-id {
  position: relative;
  bottom: 0;
}

.view .views-field-owner-id {
  background: url(/sites/all/themes/sitebuilder-uva/images/sprite.png) no-repeat -464px -597px;
  width: 10px;
}

.view .asset-information .views-field-played {
  position: relative;
  bottom: 0;
}

#spotlight .view .asset-information .views-field-played {
  position: absolute;
}

#content #page_content #block-views-mediamosa-asset-popular-block,
#content #page_content #block-views-mediamosa-asset-new-block {
  width: 242px;
}

#block-views-mediamosa-asset-new-block .view .asset-information,
#block-views-mediamosa-asset-popular-block .view .asset-information {
  max-width: 210px;
  clear: both;
  min-height: 60px;
}

#block-views-mediamosa-asset-new-block .view .asset-information .views-field-description,
#block-views-mediamosa-asset-popular-block .view .asset-information .views-field-description {
  padding-bottom: 35px;
}

#block-views-mediamosa-asset-new-block .view .asset-information .views-field-owner-id,
#block-views-mediamosa-asset-popular-block .view .asset-information .views-field-owner-id {
  position: absolute;
  bottom: 28px;
}

.page-asset .asset-detail-information,
.page-collection .collection-detail-information {
  width: 91%;
  float: left;
  margin: auto;
  margin: 0px 15px 15px 15px;
  clear: left;
}

.page-collection-detail .view .collection-videos {
  width: auto;
}

}
@media only screen and (min-width:481px) and (max-width:768px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices? (font-size: 81.3%;)  */
html {
}
/* Main navigation */
#menu-bar {
  height: 40px;
  /* background-color: lime; */
}
#block-system-main-menu a {
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#block-system-main-menu li {
  list-style: none;
  margin:0;
  padding: 0;
  float: left;
}

/* search form */
#header .header-right {
  margin-right: 5px;
}
#header #block-search-form .form-text {
  width: 135px;
}

/* Player object */
.page-asset .view .asset-video-player,
.page-collection .view .collection-videos {
  margin-right: 0px;
  margin-left: 0px;
}

.page-asset .asset-detail-information,
.page-collection .collection-detail-information {
  width: 91%;
  float: left;
  max-width: 640px;
  margin: auto;
  margin: 0px 15px 15px 15px;
  clear: both;
}

.page-collection-detail .view .collection-videos {
  width: auto;
}

}
@media only screen and (min-width:769px) and (max-width:1024px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#menu-bar {
  /* background-color: red; */
}

.page-asset .asset-detail-information,
.page-collection .collection-detail-information {
  width: 640px;
  float: left;
  margin: 0px 15px 15px 15px;
  clear: both;
}

}
@media only screen and (min-width:1025px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#menu-bar {
  /* background-color: purple; */
}

}
