/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}
/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */
/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */


@media only screen and (max-width:320px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
html {
  font-size: 112.5%;
}
/* Main navigation */
#menu-bar {
  height: 40px;
}
#block-system-main-menu a {
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#block-system-main-menu li {
  list-style: none;
  margin:0;
  padding: 0;
  float: left;
}

/* small logo */
#header .logo-mobile {
  display: block;
}
#header .logo {
  display: none;
}
#header .site_logo {
  margin-left: 5px;
  margin-top: 15px;
}

/* search form */
#header .header-right {
  margin-right: 5px;
}
#header #block-search-form .form-text {
  width: 100px;
}

/* Player object */
.page-asset .view .asset-video-player,
.page-collection .view .collection-videos {
  margin-right: 0px;
  margin-left: 0px;
}
}
@media only screen and (min-width:321px) and (max-width:480px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  font-size: 112.5%;
}

/* Main navigation */
#menu-bar {
  height: 40px;
}
#block-system-main-menu a {
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#block-system-main-menu li {
  list-style: none;
  margin:0;
  padding: 0;
  float: left;
}

/* small logo */
#header .logo-mobile {
  display: block;
}
#header .logo {
  display: none;
}
#header .site_logo {
  margin-left: 5px;
  margin-top: 15px;
}

/* search form */
#header .header-right {
  margin-right: 5px;
}
#header #block-search-form .form-text {
  width: 135px;
}

/* Player object */
.page-asset .view .asset-video-player,
.page-collection .view .collection-videos {
  margin-right: 0px;
  margin-left: 0px;
}
}
@media only screen and (min-width:481px) and (max-width:768px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  font-size: 81.3%;
}
/* Main navigation */
#menu-bar {
  height: 40px;
}
#block-system-main-menu a {
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#block-system-main-menu li {
  list-style: none;
  margin:0;
  padding: 0;
  float: left;
}

/* small logo */
/*
#header .logo-mobile {
  display: block;
}
#header .site_logo {
  margin-left: 5px;
  margin-top: 15px;
}
#header .logo {
  display: none;
}
*/
/* search form */
#header .header-right {
  margin-right: 5px;
}
#header #block-search-form .form-text {
  width: 135px;
}

/* Player object */
.page-asset .view .asset-video-player,
.page-collection .view .collection-videos {
  margin-right: 0px;
  margin-left: 0px;
}
}
@media only screen and (min-width:769px) and (max-width:1024px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#menu-bar {
/*  background-color: lime; */
}

}
@media only screen and (min-width:1025px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#menu-bar {
}

}